form{
    width: 400px;
    padding: 20px;
    color: blue;
    background-color:whitesmoke;
    border: 1px solid black;
    margin-left: 10px;
    border-radius: 20px;
    margin: auto;
    box-shadow: 5px 5px 3px 3px #66FCF1;
}

#status{
    margin-left: 20px;
    size: 3em;
}
.imagediv{
    margin-left: 470px;
    font-weight: bolder;
}

