<!DOCTYPE html>
<html lang="en">
<head>
    <title>Laptop Details</title>
</head>
<body>
    <div>
        <h3> Laptop Details Screen : </h3>
    </div>
    <div>
        <div>
            <label for=""> ID : </label> {{laptop.id}}
        </div>
        <div>
            <label for=""> BRAND : </label> {{laptop.brand}}
        </div>
        <div>
            <label for=""> PRICE : </label> {{laptop.price}}
        </div>
        <div>
            <label for=""> RAM : </label> {{laptop.ram}}
        </div>
        <div>
            <label for=""> COLOUR : </label> {{laptop.colour}}
        </div>
    </div>
    <br>
    <button (click)="list()"> BACK </button>
    
</body>
</html>