<!DOCTYPE html>
<html lang="en">
<head>
    <title>Laptop Details</title>
</head>
<body>
    <div class="all"> 
    
    <div class="container" id="content" #content>
        <div>
            <label for=""> ID &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : </label> &nbsp;&nbsp;&nbsp;{{laptop.id}}
        </div>
        <div>
            <label for=""> BRAND &nbsp;&nbsp;: </label> &nbsp;&nbsp;&nbsp; {{laptop.brand}}
        </div>
        <div>
            <label for=""> PRICE &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: </label> &nbsp;&nbsp;&nbsp;{{laptop.price}}
        </div>
        <div>
            <label for=""> RAM &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: </label> &nbsp;&nbsp;&nbsp; {{laptop.ram}}
        </div>
        <div>
            <label for=""> COLOUR : </label>&nbsp;&nbsp;&nbsp; {{laptop.colour}}
        </div>
    </div>
    <br>
    
    <!--button type="button" class="btn btn-success" > Download</button-->
    <img src="assets\Images\download buttons colors.png" width="27" (click)="makePDF()" > Click to Download..
    <div> <br> <button (click)="list()" class="back"> BACK </button> </div>

</div>

</body>
</html>