
  .back {
    animation: wiggle 2s linear infinite;
  }
  
  /* Keyframes */
  @keyframes wiggle {
    0%, 7% {
      transform: rotateZ(0);
    }
    15% {
      transform: rotateZ(-15deg);
    }
    20% {
      transform: rotateZ(10deg);
    }
    25% {
      transform: rotateZ(-10deg);
    }
    30% {
      transform: rotateZ(6deg);
    }
    35% {
      transform: rotateZ(-4deg);
    }
    40%, 100% {
      transform: rotateZ(0);
    }
  }
  
  
  
  .back {
   
    left: calc(50% - 3em);
    top: calc(50% - 2em);
    
    height: 2em;
    width: 4em;
    
    background: #444;
    background: linear-gradient(top, #555, #333);
    border: none;
    border-top: 3px solid orange;
    border-radius: 10px;
    color: #fff;
    font-family: Helvetica, Arial, Sans-serif;
    font-size: 0.8em;
    transform-origin: 50% 5em;
  }
  
  html{
    margin-left: 200px;
  }
  
  .all{
    border: 1px solid blue;
    width: 500px;
    text-align: left;
    margin-left: 300px;
    margin-top: 100px;
    box-shadow: 10px 10px 5px  #45A29E;
    padding: 20px;
    padding-left: 50px ;
  }
  img{
    cursor: pointer;
  }