<!DOCTYPE html>
<html lang="en">
<head>
    <title>Laptop Brand Details</title>
</head>
<body>
    <div>
        <h3> LAPTOP BRAND DETAILS : </h3>
    </div>
    <div>
        <div>
            <label for=""> ID : </label> {{laptopbrand.id}}
        </div>
        <div>
            <label for=""> BRAND NAME : </label> {{laptopbrand.brandName}}
        </div>
        <div>
            <label for=""> BRAND CODE : </label> {{laptopbrand.brandCode}}
        </div>
        <div>
            <label for=""> STATUS : </label> {{laptopbrand.status}}
        </div>
    </div>
    <br>
    <button (click)="list()"> BACK </button>
    
</body>
</html>